# Configurações do MySQL (Service Order)
MYSQL_SO_PORT=3307
MYSQL_SO_DB=oficina_db
MYSQL_SO_USER=oficina_user
MYSQL_SO_PASSWORD=oficina_pass
DB_HOST=mysql-service-order
DB_PORT=3306
DB_NAME=oficina_db
DB_USERNAME=oficina_user
DB_PASSWORD=oficina_pass
MYSQL_ROOT_PASSWORD=root_password

# Configurações do MySQL (Payment Billing)
MYSQL_PAY_PORT=3308
MYSQL_PAY_DB=payment_db
MYSQL_PAY_USER=oficina_user
MYSQL_PAY_PASSWORD=oficina_pass

# Configurações do MongoDB (Notification Audit)
MONGO_PORT=27017
MONGO_DB=notification_db

# Configurações do RabbitMQ Broker
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_UI_PORT=15672
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest

# Mercado Pago & Resend API Integrations
MERCADO_PAGO_ACCESS_TOKEN=TEST-TOKEN
RESEND_API_KEY=re_placeholder
RESEND_FROM_EMAIL=oficina@fabrincahub.com
